---
import Layout from '../layouts/Layout.astro';
import "../style/nav_footer.css";
import "../style/index_style.css";
import "../style/projects_page.css"
import Item from '../components/Item.astro';
import ProjectPopup from '../components/ProjectPopup.astro';

// Import database tables

// Initialize constants for database
//const plants = await db.select().from(Plants);
const plants = [{
	idplants: 1,
	name: "Name1",
	genus: "Genus1"
}]
const animals = [{
	idanimals: 1,
	name: "Name1",
	genus: "Genus1"
}]
const myprojects = [{
	idprojects: 1,
	name: "Name1",
	type: "Type1"
}]
const equipment = [{
	idequipment: 1,
	name: "Name1",
	type: "Type1"
}]

// Initialize types
//const planttypes = await db.selectDistinct({type: Plants.genus}).from(Plants);
const planttypes = [{type: "1"}]
const animaltypes = [{type: "1"}]
const myprojecttypes = [{type: "1"}]
const equipmenttypes = [{type: "1"}]
---

<Layout title="See's Garten">
	<main>
		<div class="container project-nav">
			<div class="project-nav-content">
				<li class="dropdown">
					<a class="plants" href="projects#/projects/plants">Plants</a>
					<div class="dropdown-content">
						{planttypes.map(({ type }) => (
							<a href={"projects#/projects/" + type}>{type}</a>
						))}
					</div>
				</li>

				<li class="dropdown">
					<a class="animals" href="projects#/projects/animals">Animals</a>
					<div class="dropdown-content">
						{animaltypes.map(({ type }) => (
							<a href={"projects#/projects/" + type}>{type}</a>
						))}
					</div>
				</li>

				<li class="dropdown">
					<a class="projects" href="projects#/projects/projects">Projects</a>
					<div class="dropdown-content">
						{myprojecttypes.map(({ type }) => (
							<a href={"projects#/projects/" + type}>{type}</a>
						))}
					</div>
				</li>

				<li class="dropdown">
					<a class="equipment" href="projects#/projects/container">Equipment</a>
					<div class="dropdown-content">
						{equipmenttypes.map(({ type }) => (
							<a href={"projects#/projects/" + type}>{type}</a>
						))}
					</div>
				</li>
			</div>

			<button data-projectAdd-button type="button" id="project-nav-add">
				+
			</button>

			<script>
				const buttons = document.querySelectorAll('[data-projectAdd-button]');
				buttons.forEach( (button) => {
					button.addEventListener('click', () => {
						const addPopup = document.getElementById("popupContainer");
						addPopup?.classList.remove("hidden");
					});
				})
			</script>

		</div>
		<div class="container">

			<div id="popupContainer" class="hidden">
				<ProjectPopup id="addPopup"></ProjectPopup>
			</div>

			<ul role="list" class="projects_items">
				{plants.map(({ name, genus, idplants}) => (
					<Item
						href={`/projects/${name.toLowerCase().replace(/[\s_-]+/g, '-')}-plants-${idplants}`}
						title={name}
						type={genus}
						img="/src/images/plants/Monstera Deliciosa.png"
						itemType='plantsItem'
						/>
				))}
				{animals.map(({ name, genus, idanimals}) => (
					<Item
						href={`/projects/${name.toLowerCase().replace(/[\s_-]+/g, '-')}-animals-${idanimals}`}
						title={name}
						type={genus}
						img="/src/images/plants/Monstera Deliciosa.png"
						itemType='animalsItem'
					/>
				))}
				{myprojects.map(({ name, type, idprojects}) => (
					<Item
						href={`/projects/${name.toLowerCase().replace(/[\s_-]+/g, '-')}-myprojects-${idprojects}`}
						title={name}
						type={type}
						img="/src/images/plants/Monstera Deliciosa.png"
						itemType='myprojectsItem'
					/>
				))}
				{equipment.map(({ name, type, idequipment}) => (
					<Item
						href={`/projects/${name.toLowerCase().replace(/[\s_-]+/g, '-')}-equipment-${idequipment}`}
						title={name}
						type={type}
						img="/src/images/plants/Monstera Deliciosa.png"
						itemType='equipmentItem'
					/>
				))}
			</ul>
		</div>
	</main>
</Layout>