---
import '../style/item_style.css';

interface Props {
	title: string;
	img: string;
	type: string;
	href: string;
	itemType: string;
}

const { href, title, img, type, itemType} = Astro.props;
const classes = "link-card " + type
---

<li class={classes} id={itemType}>
	<a href={href}>
		<h2>
			{title}
		</h2>
		<p>
			{type}
		</p>
		<img src={img} alt="">
	</a>
</li>