---
import '../style/project_popup.css'

// Import datatables
import { eq } from 'astro:db';

// Initialize lists of table content 
// Placeholder until database is working:
const plants = [{
    name: "Name1",
    lat_name: "LatName1",
    order: "Order1",
    family: "Family1",
    subfamily: "Subfamily1",
    genus: "Genus1",
    species: "Species1",
    subspecies: "Subspecies1",
    origin: "Origin1",
    location: "Location1",
    watering: "Watering1"
}]

const equipment = [{
  name: "Name1",
  type: "Type1"
}]

const animals = [{
    name: "Name1",
    lat_name: "LatName1",
    order: "Order1",
    family: "Family1",
    subfamily: "Subfamily1",
    genus: "Genus1",
    species: "Species1",
    subspecies: "Subspecies1",
    origin: "Origin1",
}]

const enums = [{
    enumType: "Type1",
    enumValue: "Value1"
}]

// Get the form data and insert it into database
if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    switch (formData.get('dbtype')){
      case 'plant':
        const plant_name = formData.get('name') as string;
        const plant_lat_name = formData.get('lat_name') as string;
        const plant_order = formData.get('order') as string;
        const plant_genus = formData.get('genus') as string;
        const plant_family = formData.get('family') as string;
        const plant_subfamily = formData.get('subfamily') as string;
        const plant_species = formData.get('species') as string;
        const plant_subspecies = formData.get('subspecies') as string;
        const plant_origin = formData.get('origin') as string;
        const plant_location = formData.get('location') as string;
        const plant_got = new Date(formData.get('got') as string);
        const plant_price = parseFloat(formData.get('price') as string);
        const plant_substrate = formData.get('substrate') as string;
        const plant_watering = formData.get('watering') as string;
        const plant_fertilizing = formData.get('fertilizing') as string;
        const plant_repotted = new Date(formData.get('repotted') as string);
        const plant_health = formData.get('health') as string;
        const plant_picture = formData.get('picture') as File;
        const plant_notes = formData.get('notes') as string;

        const plant_values = {
          name: plant_name? plant_name: 'N/A',
          lat_name: plant_lat_name? plant_lat_name: 'N/A',
          order: plant_order? plant_order: 'N/A',
          genus: plant_genus? plant_genus: 'N/A',
          family: plant_family? plant_family: 'N/A',
          subfamily: plant_subfamily? plant_subfamily: 'N/A',
          species: plant_species? plant_species: 'N/A',
          subspecies: plant_subspecies? plant_subspecies: 'N/A',
          origin: plant_origin? plant_origin: 'N/A',
          location: plant_location? plant_location: 'N/A',
          got: !(isNaN(plant_got.valueOf()))? plant_got: new Date(1, 1, 1),
          price: plant_price? plant_price: 0,
          substrate: plant_substrate? plant_substrate: 'N/A',
          watering: plant_watering? plant_watering: 'N/A',
          fertilizing: plant_fertilizing? plant_fertilizing: 'N/A',
          repotted: !(isNaN(plant_repotted.valueOf()))? plant_repotted: new Date(1, 1, 1),
          health: plant_health? plant_health: 'N/A',
          notes: plant_notes? plant_notes: 'N/A'
        };

        // Insert form data into the Comment table

        // Instert picture if present into right folder
        /**if (plant_picture.size > 0) {
          plants = await db.select().from(Plants);
          const id = plants.findLast(plant => plant.name === plant_name)?.idplants;

          const picturePATH = "./src/images/plants/" + id + "_" + plant_name + ".jpg";
          const pictureBuffer = Buffer.from(await plant_picture.arrayBuffer()); // Bild als Buffer konvertieren
          fs.writeFileSync(picturePATH, pictureBuffer);

          if (id !== undefined) {
            await db.update(Plants).set({picturePath: picturePATH}).where(eq(Plants.idplants, id));
          }
        }**/
        break;
      case 'animal':
        break;
      case 'project':
        break;
      case 'equipment':
        break;
      } 
  }
  catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
    
}
---

<!-- Form to add database entry -->
<form method="POST" autocomplete="off" enctype="multipart/form-data">

  <!-- Choose type of entry (plant, animal, project, equipment) -->
  <label class="dbtype">Type
    <select name="dbtype" id="dbtype" required>
      <option value="plant">Plant</option>
      <option value="animal">Animal</option>
      <option value="project">Project</option>
      <option value="equipment">Equipment</option>
    </select>
  </label>

  <!-- Form for plants -->
  <div id="plant" class="valuesWrapper">
    <div class="group">
      <label>Name
        <input list="plantNames" type="text" name="name" id="plantName" required/>
        <datalist id="plantNames">
          {plants.map(plant => (
            <option value={plant.name}/>
          ))}
        </datalist>
      </label>
    
      <label>lat. Name
        <input list="plantLatNames" type="text" name="lat_name"/>
        <datalist id="plantLatNames">
          {plants.map(plant => (
            <option value={plant.lat_name}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <label>Order
        <input list="plantOrders" type="text" name="order"/>
        <datalist id="plantOrders">
          {plants.map(plant => (
            <option value={plant.order}/>
          ))}
        </datalist>
      </label>

      <label>Genus
        <input list="plantGenus" type="text" name="Genus"/>
        <datalist id="plantGenus">
          {plants.map(plant => (
            <option value={plant.genus}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <label>Family
        <input list="plantFamily" type="text" name="family"/>
        <datalist id="plantFamily">
          {plants.map(plant => (
            <option value={plant.family}/>
          ))}
        </datalist>
      </label>

      <label>Subfamily
        <input list="plantSubfamily" type="text" name="subfamily"/>
        <datalist id="plantSubfamily">
          {plants.map(plant => (
            <option value={plant.subfamily}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <label>Species
        <input list="plantSpecies" type="text" name="species"/>
        <datalist id="plantSpecies">
          {plants.map(plant => (
            <option value={plant.species}/>
          ))}
        </datalist>
      </label>

      <label>Subspecies
        <input list="plantSubspecies" type="text" name="subspecies"/>
        <datalist id="plantSubspecies">
          {plants.map(plant => (
            <option value={plant.subspecies}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <label>Origin
        <input list="plantOrigin" type="text" name="origin"/>
        <datalist id="plantOrigin">
          {plants.map(plant => (
            <option value={plant.origin}/>
          ))}
        </datalist>
      </label>

      <label>Location
        <input list="plantLocation" type="text" name="location"/>
        <datalist id="plantLocation">
          {plants.map(plant => (
            <option value={plant.location}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <label>Got
        <input type="date" name="got"/>
      </label>

      <label>Price
        <input type="number" min="0" step="0.01" name="price" placeholder="0,00"/>
      </label>
    </div>

    <div class="group">
      <!-- Choose substrate from existing substrates in equipment -->
      <label>Substrate
        <select name="substrate">
          <option value="/">/</option>
          {equipment.filter(equip => equip.type === 'Substrate').map(equip => (
            <option value={equip.name}>{equip.name}</option>
          ))}
        </select>
      </label>

      <label>Watering
        <input list="plantWatering" type="text" name="watering"/>
        <datalist id="plantWatering">
          {plants.map(plant => (
            <option value={plant.watering}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <!-- Choose fertilizer from existing fertilizers in equipment -->
      <label>Fertilizer
        <select name="fertilizing">
          <option value="/">/</option>
          {equipment.filter(equip => equip.type === 'Fertilizer').map(equip => (
            <option value={equip.name}>{equip.name}</option>
          ))}
        </select>
      </label>

      <label>Repotted
        <input type="date" name="repotted"/>
      </label>
    </div>

    <label>Health
      <input type="text" name="health"/>
    </label>

    <label>Picture
      <input type="file" name="picture" accept="image/*"/>
    </label>

    <label>Notes
      <input type="text" name="notes"/>
    </label>
  </div>
  
  <!-- Form for animals -->
  <div id="animal" class="valuesWrapper hidden">
    <div class="group">
      <label>Name
        <input list="animalNames" type="text" name="name" id="animalName"/>
        <datalist id="animalNames">
          {animals.map(animal => (
            <option value={animal.name}/>
          ))}
        </datalist>
      </label>
    
      <label>lat. Name
        <input list="animalLatNames" type="text" name="lat_name"/>
        <datalist id="animalLatNames">
          {animals.map(animal => (
            <option value={animal.lat_name}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <label>Order
        <input list="animalOrder" type="text" name="order"/>
        <datalist id="animalOrder">
          {animals.map(animal => (
            <option value={animal.order}/>
          ))}
        </datalist>
      </label>

      <label>Genus
        <input list="animalGenus" type="text" name="Genus"/>
        <datalist id="animalGenus">
          {animals.map(animal => (
            <option value={animal.genus}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <label>Family
        <input list="animalFamily" type="text" name="family"/>
        <datalist id="animalFamily">
          {animals.map(animal => (
            <option value={animal.family}/>
          ))}
        </datalist>
      </label>

      <label>Subfamily
        <input list="animalSubfamily" type="text" name="subfamily"/>
        <datalist id="animalSubfamily">
          {animals.map(animal => (
            <option value={animal.subfamily}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <label>Species
        <input list="animalSpecies" type="text" name="species"/>
        <datalist id="animalSpecies">
          {animals.map(animal => (
            <option value={animal.species}/>
          ))}
        </datalist>
      </label>

      <label>Subspecies
        <input list="animalSubspecies" type="text" name="subspecies"/>
        <datalist id="animalSubspecies">
          {animals.map(animal => (
            <option value={animal.subspecies}/>
          ))}
        </datalist>
      </label>
    </div>

    <div class="group">
      <label>Origin
        <input list="animalOrigin" type="text" name="origin"/>
        <datalist id="animalOrigin">
          {animals.map(animal => (
            <option value={animal.origin}/>
          ))}
        </datalist>
      </label>

      <label>Size
        <input type="number" min="0" step="0.01" name="size" placeholder="0,00"/>
      </label>
    </div>

    <div class="group">
      <label>Got
        <input type="date" name="got"/>
      </label>

      <label>Price
        <input type="number" min="0" step="0.01" name="price" placeholder="0,00"/>
      </label>
    </div>

    <div class="group">
      <label>Count
        <input type="number" min="0" step="1" name="count" placeholder="0"/>
      </label>

      <label>Sex
        <select name="sex">
          <option value=male>Male</option>
          <option value="female">Female</option>
        </select>
      </label>
    </div>

    <div class="group">
      <label>Age
        <input type="number" min="0" step="0.5" name="age" placeholder="0"/>
      </label>

      <label>Sozial
        <select name="sozial">
          <option value="/">/</option>
          {enums.filter(enums => enums.enumType === 'Sozial').map(enums => (
            <option value={enums.enumValue}>{enums.enumValue}</option>
          ))}
        </select>
      </label>
    </div>

    <div class="group">
      <label>Demands
        <input type="text" name="damands"/>
      </label>

      <label>Food
        <select name="food">
          <option value="/">/</option>
          {enums.filter(enums => enums.enumType === 'Food').map(enums => (
            <option value={enums.enumValue}>{enums.enumValue}</option>
          ))}
        </select>
      </label>
    </div>

    <div class="group">
      <label>Health
        <input type="text" name="health"/>
      </label>

      <label>Reproduction
        <select name="reproduction">
          <option value="/">/</option>
          {enums.filter(enums => enums.enumType === 'Reproduction').map(enums => (
            <option value={enums.enumValue}>{enums.enumValue}</option>
          ))}
        </select>
      </label>
    </div>

    <label>Picture
      <input type="file" name="picture"/>
    </label>

    <label>Notes
      <input type="text" name="notes"/>
    </label>
  </div>

  <!-- Form for projects -->
  <div id="project" class="valuesWrapper hidden">
    <div class="group">
      <label>Name
        <input type="text" name="name" id="projectName"/>
      </label>
    
      <!-- Choose container from existing container in equipment -->
      <label>Container
        <select name="container">
          <option value="/">/</option>
          {equipment.filter(equip => equip.type === 'Container').map(equip => (
            <option value={equip.name}>{equip.name}</option>
          ))}
        </select>
      </label>
    </div>

    <div class="group">
      <!-- Choose equipment from existing equipment -->
      <label>Equipment
        <select name="equipment">
          <option value="/">/</option>
          {equipment.filter(equip => equip.type !== 'Container' && equip.type !== 'Substrate' && equip.type !== 'Hardscape' && equip.type !== 'Fertilizer').map(equip => (
            <option value={equip.name}>{equip.name}</option>
          ))}
        </select>
      </label>

      <label>Maintenance
        <input type="text" name="maintenance"/>
      </label>
    </div>

    <div class="group">
      <!-- Choose substrate from existing substrates in equipment -->
      <label>Substrate
        <select name="substrate">
          <option value="/">/</option>
          {equipment.filter(equip => equip.type === 'Substrate').map(equip => (
            <option value={equip.name}>{equip.name}</option>
          ))}
        </select>
      </label>

      <!-- Choose hardscape from existing hardscape in equipment -->
      <label>Hardscape
        <select name="hardscape">
          <option value="/">/</option>
          {equipment.filter(equip => equip.type === 'Hardscape').map(equip => (
            <option value={equip.name}>{equip.name}</option>
          ))}
        </select>
      </label>
    </div>

    <!-- Choose plants from existing plants -->
    <div class="group">
      <label>Plants
        <select name="container">
          <option value="/">/</option>
          {plants.map(plant => (
            <option value={plant.name}>{plant.name}</option>
          ))}
        </select>
      </label>

      <!-- Choose animals from existing animals -->
      <label>Animals
        <select name="animals">
          <option value="/">/</option>
          {animals.map(animal => (
            <option value={animal.name}>{animal.name}</option>
          ))}
        </select>
      </label>
    </div>

    <div class="group">
      <label>Got
        <input type="date" name="got"/>
      </label>

      <label>Price
        <input type="number" min="0" step="0.01" name="price" placeholder="0,00"/>
      </label>
    </div>

    <label>Picture
      <input type="file" name="picture"/>
    </label>

    <label>Notes
      <input type="text" name="notes"/>
    </label>
  </div>

  <!-- Form for equipment -->
  <div id="equipment" class="valuesWrapper hidden">
    <div class="group">
      <label>Name
        <input type="text" name="name" id="equipmentName"/>
      </label>
    
      <label>Type
        <select name="type">
          <option value="/">/</option>
          {enums.filter(enums => enums.enumType === 'EquipmentType').map(enums => (
            <option value={enums.enumValue}>{enums.enumValue}</option>
          ))}
        </select>
      </label>
    </div>

    <div class="group">
      <label>Power
        <input type="text" name="power"/>
      </label>

      <label>Specifications
        <input type="text" name="specifications"/>
      </label>
    </div>

    <div class="group">
      <label>Maintinance
        <input type="text" name="maintinance"/>
      </label>

      <label>Price
        <input type="number" min="0" step="0.01" name="price" placeholder="0,00"/>
      </label>
    </div>

    <label>Link
      <input type="text" name="link"/>
    </label>

    <label>Picture
      <input type="file" name="picture"/>
    </label>

    <label>Notes
      <input type="text" name="notes"/>
    </label>
  </div>
  
  <!-- Buttons to accept or cancel form -->
  <div class="container buttons">
    <button data-cancel-button type="reset">Cancel</button>
    <button type="submit">Submit</button>
  </div>

  <!-- Change the form depending on entry type -->
  <script>
    // Cancel-Button hides the popup
    const buttons = document.querySelectorAll('[data-cancel-button]');
    buttons.forEach( (button) => {
      button.addEventListener('click', () => {
        const addPopup = document.getElementById("popupContainer");
        addPopup?.classList.add("hidden");
      });
    })

    // Change visibility based on entry type
    const dbtype = document.getElementById('dbtype') as HTMLSelectElement;
      dbtype?.addEventListener('change', () => {
        switch (dbtype.value) {
          case 'plant':
            document.getElementById('plant')?.classList.remove('hidden');
            document.getElementById('animal')?.classList.add('hidden');
            document.getElementById('project')?.classList.add('hidden');
            document.getElementById('equipment')?.classList.add('hidden');

            document.getElementById('plantName')?.setAttribute('required', 'true');
            document.getElementById('animalName')?.removeAttribute('required');
            document.getElementById('projectName')?.removeAttribute('required');
            document.getElementById('equipmentName')?.removeAttribute('required');
            break;
          case 'animal':
            document.getElementById('animal')?.classList.remove('hidden');
            document.getElementById('plant')?.classList.add('hidden');
            document.getElementById('project')?.classList.add('hidden');
            document.getElementById('equipment')?.classList.add('hidden');
            
            document.getElementById('plantName')?.removeAttribute('required');
            document.getElementById('animalName')?.setAttribute('required', 'true');
            document.getElementById('projectName')?.removeAttribute('required');
            document.getElementById('equipmentName')?.removeAttribute('required');
            break;
          case 'project':
            document.getElementById('project')?.classList.remove('hidden');
            document.getElementById('plant')?.classList.add('hidden');
            document.getElementById('animal')?.classList.add('hidden');
            document.getElementById('equipment')?.classList.add('hidden');
            
            document.getElementById('plantName')?.removeAttribute('required');
            document.getElementById('animalName')?.removeAttribute('required');
            document.getElementById('projectName')?.setAttribute('required', 'true');
            document.getElementById('equipmentName')?.removeAttribute('required');
            break;
          case 'equipment':
            document.getElementById('equipment')?.classList.remove('hidden');
            document.getElementById('plant')?.classList.add('hidden');
            document.getElementById('animal')?.classList.add('hidden');
            document.getElementById('project')?.classList.add('hidden');
            
            document.getElementById('plantName')?.removeAttribute('required');
            document.getElementById('animalName')?.removeAttribute('required');
            document.getElementById('projectName')?.removeAttribute('required');
            document.getElementById('equipmentName')?.setAttribute('required', 'true');
            break;
        }
      })
  </script>
</form>